{% extends 'base.html' %}

{% block content %}

<h1>Beanie Details</h1>
<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ beanie.name }}
                </span>
                <p>Animal: {{ beanie.animal }}</p>
                <p>Description: {{ beanie.description }}</p>
                <p>Date Acquired: {{ beanie.date_acquired }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'beanies_update' beanie.id %}">Edit</a>
                <a href="{% url 'beanies_delete' beanie.id %}">Delete</a>
            </div>
        </div>
        {% for photo in beanie.photo_set.all %}
            <img src="{{ photo.url }}" alt="{{ beanie.name }}" class="responsive-img card-panel">
        {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}

        <form enctype="multipart/form-data" action="{% url 'add_photo' beanie.id %}" class="card-panel" method="POST">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br>
            <br>
            <button class="btn green">Upload Photo</button>
        </form>
    </div>
    <div class="col m6 s12">
        <form action="{% url 'add_maintenance' beanie.id %}" method="POST">
            {% csrf_token %}
            {{ maintenance_form.as_p }}
            <input type="submit" class="btn blue" value="Add Completed Task">
        </form>
        <br />
        {% if beanie.cared_for_today %}
        <div class="card-panel teal-text center-align">
            {{ beanie.name }} has been groomed for today.
        </div>
        {% else %}
        <div class="card-panel red-text center-align">
            {{ beanie.name }} might need some love...
        </div>
        {% endif %}
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Task</th>
                </tr>
            </thead>
            <tbody>
                {% for maintenance in beanie.maintenance_set.all %}
                <tr>
                    <td>{{ maintenance.date }}</td>
                    <td>{{ maintenance.get_look_over_display }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col s12 m6">
        <h3>{{ beanie.name }}'s Accessories</h3>
        {% if beanie.accessories.count %}
        {% for accessory in beanie.accessories.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    A <span class="{{ accessory.color.lower }}-text">{{ accessory.color }}</span> {{ accessory.name }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'dissoc_accessory' beanie.id accessory.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn red">Remove</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>{{ beanie.name }} has no accessories at this time...</h5>
        {% endif %}
    </div>
    <div class="col m6 s12">
        <h3>Available Accessories</h3>
        {% if accessories.count %}
        {% for accessory in accessories %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    A <span class="{{ accessory.color.lower }}-text">{{ accessory.color }} </span>{{ accessory.name }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_accessory' beanie.id accessory.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn green">Add</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h6>{{ beanie.name }} already has all accessories available.</h6>
        {% endif %}
    </div>
</div>


{% endblock %}